/* WooCommerce overrides — Chargeurie */
.woocommerce ul.products{display:none!important;}
.shop-products-grid{margin-top:2rem;}
.woocommerce div.product .summary{max-width:680px;}
.woocommerce div.product .woocommerce-product-gallery{border-radius:24px;overflow:hidden;}
.woocommerce-loop-product__title{display:none;}
